<app-navbar></app-navbar>
<!--<div class="side-panel bg-custom-purple">-->
<!--  <ul class="list-group">-->
<!--    <li class="list-group-item">Item 1</li>-->
<!--    <li class="list-group-item">Item 2</li>-->
<!--    <li class="list-group-item">Item 3</li>-->
<!--    <li class="list-group-item">Item 4</li>-->
<!--    <li class="list-group-item">Item 5</li>-->
<!--  </ul>-->
<!--</div>-->

<!--<div class="content">-->
<!--  <h2>Main Content</h2>-->
<!--  <p>This is the main content area of your dashboard.</p>-->
<!--</div>-->

<div class="side-panel">
  <div class="side-panel-header bg-custom-purple">
    Admin Panel
  </div>
  <ul class="side-panel-menu">
    <li><a class="nav-link active" aria-current="page" routerLink="service-request-list" routerLinkActive="active">Service Requests</a></li>
<!--    <li><a href="#">Users</a></li>-->
<!--    <li><a href="#">Products</a></li>-->
<!--    <li><a href="#">Orders</a></li>-->
<!--    <li><a href="#">Settings</a></li>-->
    <li class="logout"><a href="#">Logout</a></li>
  </ul>
</div>
